In [1]:
# utf-8
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("./yinong/cards_balance_20160529.csv",index_col="date",encoding='utf-8')
print df.dtypes
print df.shape #(150, 2)

print df["01/01/2016":"02/01/2016"]

money    float64
cards      int64
dtype: object
(150, 2)
                   money    cards
date
01/01/2016  1.199894e+10  1628547
02/01/2016  1.199894e+10  1628547

In [2]:
# dataFrame.describe()，会统计出各列的：计数，平均数，方差，最小值，最大值，以及quantile数值
df.describe()

              money         cards
count  1.500000e+02  1.500000e+02
mean   1.598628e+10  1.911163e+06
std    2.466627e+09  1.998579e+05
min    1.199894e+10  1.628547e+06
25%    1.359301e+10  1.741645e+06
50%    1.590579e+10  1.835168e+06
75%    1.836980e+10  2.134188e+06
max    1.895350e+10  2.201404e+06

In [3]:
print df[1:5]

                   money    cards
date
02/01/2016  1.199894e+10  1628547
03/01/2016  1.199894e+10  1628547
04/01/2016  1.199894e+10  1628547
05/01/2016  1.199894e+10  1628547

In [14]:
print df.index.values
#print df.values

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149]

In [4]:
df.sort_index(axis=1, ascending=True)

              cards         money
date
01/01/2016  1628547  1.199894e+10
02/01/2016  1628547  1.199894e+10
03/01/2016  1628547  1.199894e+10
04/01/2016  1628547  1.199894e+10
05/01/2016  1628547  1.199894e+10
06/01/2016  1628547  1.199894e+10
07/01/2016  1628547  1.199894e+10
08/01/2016  1628547  1.199894e+10
09/01/2016  1628547  1.199894e+10
10/01/2016  1628547  1.199894e+10
11/01/2016  1649553  1.212557e+10
12/01/2016  1649553  1.212557e+10
13/01/2016  1649990  1.215876e+10
14/01/2016  1649990  1.215876e+10
15/01/2016  1654210  1.215160e+10
16/01/2016  1654210  1.215160e+10
17/01/2016  1654210  1.215160e+10
18/01/2016  1640199  1.250143e+10
19/01/2016  1640199  1.250143e+10
20/01/2016  1640199  1.250143e+10
21/01/2016  1640199  1.250143e+10
22/01/2016  1643620  1.250888e+10
23/01/2016  1643620  1.250888e+10
24/01/2016  1643620  1.250888e+10
25/01/2016  1643620  1.250888e+10
26/01/2016  1643620  1.250888e+10
27/01/2016  1645450  1.248424e+10
28/01/2016  1721032  1.331238e+10
29/01/2016  1721437  1.334817e+10
30/01/2016  1721437  1.334817e+10
...             ...           ...
30/04/2016  2123980  1.865156e+10
01/05/2016  2123984  1.864588e+10
02/05/2016  2125967  1.863568e+10
03/05/2016  2125967  1.863568e+10
04/05/2016  2125967  1.863568e+10
05/05/2016  2133209  1.866068e+10
06/05/2016  2133388  1.865083e+10
07/05/2016  2134188  1.869591e+10
08/05/2016  2134188  1.869591e+10
09/05/2016  2136923  1.873522e+10
10/05/2016  2141575  1.880172e+10
11/05/2016  2142315  1.882066e+10
12/05/2016  2142637  1.881144e+10
13/05/2016  2142637  1.881144e+10
14/05/2016  2142637  1.881144e+10
15/05/2016  2138707  1.875348e+10
16/05/2016  2144209  1.884806e+10
17/05/2016  2146901  1.883246e+10
18/05/2016  2145032  1.888092e+10
19/05/2016  2145032  1.888092e+10
20/05/2016  2147836  1.891034e+10
21/05/2016  2150265  1.895350e+10
22/05/2016  2150265  1.895350e+10
23/05/2016  2155120  1.893992e+10
24/05/2016  2159037  1.893811e+10
25/05/2016  2159037  1.893811e+10
26/05/2016  2159647  1.892641e+10
27/05/2016  2159647  1.892641e+10
28/05/2016  2159647  1.892641e+10
29/05/2016  2159647  1.892641e+10

[150 rows x 2 columns]

In [5]:
df.sort_index(axis=1, ascending=False)[0:1] # 把第一行 拿出来

                   money    cards
date
01/01/2016  1.199894e+10  1628547

In [5]:
print df[0:5]
print df.iloc[3] #取 第4行

                   money    cards
date
01/01/2016  1.199894e+10  1628547
02/01/2016  1.199894e+10  1628547
03/01/2016  1.199894e+10  1628547
04/01/2016  1.199894e+10  1628547
05/01/2016  1.199894e+10  1628547
money    1.199894e+10
cards    1.628547e+06
Name: 04/01/2016, dtype: float64

In [6]:
df.apply(np.cumsum)
print df

                   money    cards
date
01/01/2016  1.199894e+10  1628547
02/01/2016  1.199894e+10  1628547
03/01/2016  1.199894e+10  1628547
04/01/2016  1.199894e+10  1628547
05/01/2016  1.199894e+10  1628547
06/01/2016  1.199894e+10  1628547
07/01/2016  1.199894e+10  1628547
08/01/2016  1.199894e+10  1628547
09/01/2016  1.199894e+10  1628547
10/01/2016  1.199894e+10  1628547
11/01/2016  1.212557e+10  1649553
12/01/2016  1.212557e+10  1649553
13/01/2016  1.215876e+10  1649990
14/01/2016  1.215876e+10  1649990
15/01/2016  1.215160e+10  1654210
16/01/2016  1.215160e+10  1654210
17/01/2016  1.215160e+10  1654210
18/01/2016  1.250143e+10  1640199
19/01/2016  1.250143e+10  1640199
20/01/2016  1.250143e+10  1640199
21/01/2016  1.250143e+10  1640199
22/01/2016  1.250888e+10  1643620
23/01/2016  1.250888e+10  1643620
24/01/2016  1.250888e+10  1643620
25/01/2016  1.250888e+10  1643620
26/01/2016  1.250888e+10  1643620
27/01/2016  1.248424e+10  1645450
28/01/2016  1.331238e+10  1721032
29/01/2016  1.334817e+10  1721437
30/01/2016  1.334817e+10  1721437
...                  ...      ...
30/04/2016  1.865156e+10  2123980
01/05/2016  1.864588e+10  2123984
02/05/2016  1.863568e+10  2125967
03/05/2016  1.863568e+10  2125967
04/05/2016  1.863568e+10  2125967
05/05/2016  1.866068e+10  2133209
06/05/2016  1.865083e+10  2133388
07/05/2016  1.869591e+10  2134188
08/05/2016  1.869591e+10  2134188
09/05/2016  1.873522e+10  2136923
10/05/2016  1.880172e+10  2141575
11/05/2016  1.882066e+10  2142315
12/05/2016  1.881144e+10  2142637
13/05/2016  1.881144e+10  2142637
14/05/2016  1.881144e+10  2142637
15/05/2016  1.875348e+10  2138707
16/05/2016  1.884806e+10  2144209
17/05/2016  1.883246e+10  2146901
18/05/2016  1.888092e+10  2145032
19/05/2016  1.888092e+10  2145032
20/05/2016  1.891034e+10  2147836
21/05/2016  1.895350e+10  2150265
22/05/2016  1.895350e+10  2150265
23/05/2016  1.893992e+10  2155120
24/05/2016  1.893811e+10  2159037
25/05/2016  1.893811e+10  2159037
26/05/2016  1.892641e+10  2159647
27/05/2016  1.892641e+10  2159647
28/05/2016  1.892641e+10  2159647
29/05/2016  1.892641e+10  2159647

[150 rows x 2 columns]

In [10]:
'''
df = df.cumsum()
plt.figure()
df.plot()
plt.legend(loc='best')
'''
#画图
df = pd.read_csv("./yinong/cards_balance_20160529.csv",encoding='utf-8')
#plt.figure()
df.plot()
plt.legend(loc='best')
#plt.savefig('./test.jpg')
plt.show()

In [9]:
df2 = pd.read_excel("./yinong/cards_balance_20160529.xlsx",index_col="date",encoding='utf-8') 
#默认读第一个tab
#默认读第一个tab
#默认读第一个tab
print df2[0:0]
print df2[0:1]
print df2.dtypes

#dfMoney = df2['money']
#dfMoney.plot()

dfCards = df2['cards']
dfCards.plot()
plt.show()

Empty DataFrame
Columns: [money, cards]
Index: []
                   money    cards
date
2016-01-01  1.199894e+10  1628547
money    float64
cards      int64
dtype: object

In [22]:
df2.sort(['cards','money'],ascending=[True,False])

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   money    cards
date
2016-01-01  1.199894e+10  1628547
2016-01-02  1.199894e+10  1628547
2016-01-03  1.199894e+10  1628547
2016-01-04  1.199894e+10  1628547
2016-01-05  1.199894e+10  1628547
2016-01-06  1.199894e+10  1628547
2016-01-07  1.199894e+10  1628547
2016-01-08  1.199894e+10  1628547
2016-01-09  1.199894e+10  1628547
2016-01-10  1.199894e+10  1628547
2016-01-18  1.250143e+10  1640199
2016-01-19  1.250143e+10  1640199
2016-01-20  1.250143e+10  1640199
2016-01-21  1.250143e+10  1640199
2016-01-22  1.250888e+10  1643620
2016-01-23  1.250888e+10  1643620
2016-01-24  1.250888e+10  1643620
2016-01-25  1.250888e+10  1643620
2016-01-26  1.250888e+10  1643620
2016-01-27  1.248424e+10  1645450
2016-01-11  1.212557e+10  1649553
2016-01-12  1.212557e+10  1649553
2016-01-13  1.215876e+10  1649990
2016-01-14  1.215876e+10  1649990
2016-01-15  1.215160e+10  1654210
2016-01-16  1.215160e+10  1654210
2016-01-17  1.215160e+10  1654210
2016-01-28  1.331238e+10  1721032
2016-01-29  1.334817e+10  1721437
2016-01-30  1.334817e+10  1721437
...                  ...      ...
2016-05-10  1.880172e+10  2141575
2016-05-11  1.882066e+10  2142315
2016-05-12  1.881144e+10  2142637
2016-05-13  1.881144e+10  2142637
2016-05-14  1.881144e+10  2142637
2016-05-16  1.884806e+10  2144209
2016-05-18  1.888092e+10  2145032
2016-05-19  1.888092e+10  2145032
2016-04-19  1.793751e+10  2146432
2016-05-17  1.883246e+10  2146901
2016-05-20  1.891034e+10  2147836
2016-05-21  1.895350e+10  2150265
2016-05-22  1.895350e+10  2150265
2016-04-20  1.799355e+10  2154954
2016-05-23  1.893992e+10  2155120
2016-04-21  1.803701e+10  2156886
2016-04-22  1.803686e+10  2156886
2016-04-23  1.803686e+10  2156886
2016-04-24  1.799238e+10  2157682
2016-05-24  1.893811e+10  2159037
2016-05-25  1.893811e+10  2159037
2016-05-26  1.892641e+10  2159647
2016-05-27  1.892641e+10  2159647
2016-05-28  1.892641e+10  2159647
2016-05-29  1.892641e+10  2159647
2016-04-25  1.820845e+10  2182266
2016-04-26  1.824867e+10  2200613
2016-04-28  1.825347e+10  2200653
2016-04-29  1.823432e+10  2201168
2016-04-27  1.830764e+10  2201404

[150 rows x 2 columns]

In [16]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)
#ax2 = fig.add_subplot(2,2,2) 会重叠


#Variable 
#ax.hist(df['cards'],bins = 5) #5个柱子，纵轴 加起来是150 天
ax.plot(df['cards'])

#Labels and Tit
plt.title('cards distribution')
plt.xlabel('cards')
plt.ylabel('#days')
plt.show()

In [36]:
#Create one or more subplots using add_subplot, because you can't create blank figure
fig = plt.figure()
ax = fig.add_subplot(1,1,1)
#Variable
ax.scatter(df['money'],df['cards']) # 散点图 （ x轴  y轴  ）

plt.show()

In [41]:
import seaborn as sns
sns.boxplot(df['cards'])
sns.despine()

In [39]:
# How to group variables in Python to calculate count, average, sum?

test= df.groupby(['cards'])
test.describe()

                      money
cards
1628547 count  1.000000e+01
        mean   1.199894e+10
        std    2.010522e-06
        min    1.199894e+10
        25%    1.199894e+10
        50%    1.199894e+10
        75%    1.199894e+10
        max    1.199894e+10
1640199 count  4.000000e+00
        mean   1.250143e+10
        std    0.000000e+00
        min    1.250143e+10
        25%    1.250143e+10
        50%    1.250143e+10
        75%    1.250143e+10
        max    1.250143e+10
1643620 count  5.000000e+00
        mean   1.250888e+10
        std    0.000000e+00
        min    1.250888e+10
        25%    1.250888e+10
        50%    1.250888e+10
        75%    1.250888e+10
        max    1.250888e+10
1645450 count  1.000000e+00
        mean   1.248424e+10
        std             NaN
        min    1.248424e+10
        25%    1.248424e+10
        50%    1.248424e+10
...                     ...
2200613 std             NaN
        min    1.824867e+10
        25%    1.824867e+10
        50%    1.824867e+10
        75%    1.824867e+10
        max    1.824867e+10
2200653 count  1.000000e+00
        mean   1.825347e+10
        std             NaN
        min    1.825347e+10
        25%    1.825347e+10
        50%    1.825347e+10
        75%    1.825347e+10
        max    1.825347e+10
2201168 count  1.000000e+00
        mean   1.823432e+10
        std             NaN
        min    1.823432e+10
        25%    1.823432e+10
        50%    1.823432e+10
        75%    1.823432e+10
        max    1.823432e+10
2201404 count  1.000000e+00
        mean   1.830764e+10
        std             NaN
        min    1.830764e+10
        25%    1.830764e+10
        50%    1.830764e+10
        75%    1.830764e+10
        max    1.830764e+10

[568 rows x 1 columns]

In [43]:
# fig111 = plt.figure()
# ax = fig111.add_subplot(1,1,1)


dfCards = df['cards']
dfCards.plot()
plt.show()

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
d={'1.htldxhzj.duapp.com': 9398,
 'gtxapi.cdn.duapp.com': 79496,
 'www.xxx.com': 2477070,
 'www.baidu.com': 1465,
 'www.bing.com': 777,
 'www.aaa.com': 1113101,
 'www.ccc.net.cn': 922,
 'www.zhanimei.ga': 29847,
 'www.zhanimei.ml': 40155,
 'www.zhasini.ml': 373436}

from pandas import Series,DataFrame
import matplotlib.pyplot as plt

plt.figure(figsize=(8,6), dpi=80)
ts = Series(d)
ts.plot(kind='barh')
plt.show()